{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Cities</h1> 
        <div role="tabpanel">
          <div class="list-group" id="list" role="tablist">
            
            {% for city in cities %}
            <a class="list-group-item list-group-item-action list-group-item-info"  data-bs-toggle="list" href="#{{city.id}}" role="tab">{{city.name}}</a>
            {% endfor %}

          </div>
        </div>

<!--Cities description-->
<div class="col-8">
    <div class="tab-content">

      {% for city in cities %}
        {% if forloop.counter0 == 0 %}

          <div class="tab-pane active" id="{{city.id}}" role="tabpanel">
            <div class="city-content">
              <div class="city-content-text">
                <h2>{{city.name}}</h2>
                <p>{{city.description}} </p>
              </div> 
                <img src="{% static 'resources/aspen.jpg' %}" class="img-thumbnail" alt="aspen">
            </div>
          </div>

        {% else %}