{% extends 'base.html' %}
{% load static %}
{% block content %}


<!--id card-->
<div class="container-fluid">
  <div class="row container-fluid">
    <div class="col-xs-12 col-lg-4" >
      <div class="card">
        <div id="profile-picture-container">
          <img id="profile-picture" src="{{ user.profile.profile_img }}" alt="profile pic">
        </div>
          <p class="card-subtitle">{{user.first_name}} {{user.last_name}}</p>
          <div class="card-body">
            <p id="idcard-context">
            {{user.username}}<br>
            Bio: {{user.bio}}<br>
            Location: {{ user.profile.cur_city }}<br>
            Date joined: {{user.date_joined}}<br>
          <a href=" {% url 'update' %}" class="btn btn-info" id="edit-btn">Edit Profile</a>
        </div>
      
    
        
        
      </div>
    </div>

    <!--Cities description-->
    <div class="col-xs-12 col-lg-8">
      <div class="tab-content">

      <div class="main-tab-title">
        <h2>POSTS BY YOU</h2>
        {% comment %} <a href="#" data-bs-toggle="modal" data-bs-target="#signupModal" role="button"> {% endcomment %}
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#postModal" role="button"><i class="fas fa-plus-circle fa-2x"></i></button>
      </div>
      {% for post in posts %}
      <div class="card-post">
        <div class="card-post-content">
                    <img id="post-img" src="{{post.user.profile.profile_img}}" alt="Photo of {{post.location}}">
                    <div class="post-content-text">
                      <div class="post-content-title">
                        <a href="{% url 'show_post' post.id %}">{{ post.title }}</a>
                        <span id="by">by {{post.user.username}}</span>
                      </div>
                      <p>where: {{ post.location }}</p>
                      <p>Description: {{ post.text }}</p>
                      <p>{{ post.created_at}}</p>
                    </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


{% comment %} {% create post modal %} {% endcomment %}
<div class="modal fade" id="postModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add a Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'post_create' %}" method="post">
          {% csrf_token %}
          {{post_form.as_p}}
          <input type="submit" value="POST!">
        
        </form>
       
      </div>
    </div>
  </div>
</div>


  

<!--
  <div class="post">
    <button type="button" id="post" class="btn">Post A Trip</button>
</div>
<div id="myForm" class="hide">
    <form action="/echo/html/" id="popForm" method="get">
        <div>
            <label for="title">Title:</label>
            <input type="title" name="title" id="title" class="form-control input-md">
            
            <label for="about">Describe Your Trip:</label>
            <textarea rows="10" name="about" id="about" class="form-control input-md"></textarea>
            <button type="button" class="btn btn-primary
            
            
            " data-loading-text="Sending info.."><em class="icon-ok"></em> Save</button>
        </div>
    </form>
</div>
<div id="result"></div>
</div>
-->



{% endblock %}

