{% extends 'base.html' %}

{% block content %}
<h1 id="headingA">About The Codenators</h1>

<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Brittany Morataya
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div id="about" class="accordion-body row">
          <div id="post-img" class="about-img-container col-xs-12 col-md-2">
            <img src="" alt="">
          </div>
          <div  class="about-body col-xs-12 col-md-10">
            
              
            <p>
            An enthusiastic junior software engineer who enjoys figuring out solutions and constructing front end magic. During down time Brittany enjoys getting lost in the world and exploring or binge watching netflix.<br>
            Upland,CA
            </p>
          </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Jackson Dawson
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div id="about" class="accordion-body row">
        <div id="post-img" class="about-img-container col-xs-12 col-md-2">
          <img class="about-img" src="" alt="">
        </div>
        <div class="about-body col-xs-12 col-md-10">
          Bio:
          <p>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Jonathan Espana
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body row">
        <div class="about-img-container col-xs-12 col-md-2">
          <img class="about-img" src="https://i.ibb.co/R7ZC9L0/00100s-PORTRAIT-00100-BURST20181016193210109-COVER.jpg" alt="">
        </div>
        <div class="about-body col-xs-12 col-md-10">
          Bio:
          <p>
            I am a software engineer helping build and design web-based solutions with an emphasis on growth and profitability. If I’m away from my keyboard you can find me building custom Harley Davidson choppers or snowboarding
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
        Ramon Cavalleiro
      </button>
    </h2>
    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
      <div id="about" class="accordion-body row">
        <div id="post-img" class="about-img-container col-xs-12 col-md-2">
          <img class="about-img" src="" alt="">
        </div>
        <div class="about-body col-xs-12 col-md-10">
          Bio:
          <p>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}