{% extends 'base.html' %}
{% load static %}

{% block navbtn %}
{% endblock %}


{% block content %}
</br> 
{% comment %} replace br with css later {% endcomment %}
<div class="container" id="carousel-container">
  <div class="row">
    <div class="col-sm-12">
      <div id="carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">

          <div class="carousel-item active" data-bs-interval="2000">
            <img src="{% static 'resources/goldengatebridge-unsplash.jpg' %}" class="d-block mx-auto carousel-img" alt="Golden Gate Bridge">
          </div>

          <div class="carousel-item" data-bs-interval="2000">
            <img src="{% static 'resources/sydneyoperahouse-unsplash.jpg' %}" class="d-block mx-auto carousel-img" alt="Sydney Opera House">
          </div>

          <div class="carousel-item" data-bs-interval="2000">
            <img src="{% static 'resources/bigben-unsplash.jpg' %}" class="d-block mx-auto carousel-img" alt="Big Ben Clock Tower">
          </div>
        </div>

        <a class="carousel-control-prev" href="#carousel" role="button" data-bs-slide="prev">
          <i class="far fa-arrow-alt-circle-left"></i>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-bs-slide="next">
          <i class="far fa-arrow-alt-circle-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container" id="home-footer-title">
  <h2>Wayfarer is...</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="topic-content">
        <h3>San Francisco, CA</h3>
        <p>From holiday lighting to stellar theater performances, San Francisco's winter season is a great time of year to enjoy endless attractions.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="topic-content">
        <h3>Sydney, Australia</h3>
        <p>Sydney's winter hosts a multitude of events that are bound to fit everyones need's from arts and cultural festivals to sporting events. </p>
      </div>
    </div>
    <div class="col-4">
      <div class="topic-content">
        <h3>London, UK</h3>
        <p>Winter is a quieter time to visit London and enjoy some of the city's many attractions or visit some of the world's best museums without being overly crowded.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block modal %}

{% comment %} {% sign up modal %} {% endcomment %}
<div class="modal fade" id="signupModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Sign Up</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'signup' %}" method="POST" class="signup-form">
          {% csrf_token %}
          {{user_form.as_p}}
          {{profile_form.as_p}}
          {% comment %} {% if error_message %}
                {{error_message}}
            {% endif %} {% endcomment %}
          <input type="submit" value="Sign Up">
          <input type="hidden" name="next" value"{{next}}>
      
      </form>
      </div>
    </div>
  </div>
</div>

{% comment %} {% login modal %} {% endcomment %}
<div class="modal fade" id="loginModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Log in</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}
          {{ auth_form.as_p}}
          <input type="submit" value="Log in">
          <input type="hidden" name="next" value"{{next}}>
      
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
