{% extends 'base.html' %}
{% load static %}

{% block navbtn %}
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#signupModal">
  Sign up
</button>
{% endblock %}


{% block content %}

<h1>Wayfare</h1>
<div class="container">
  <div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="{% static 'resources/img20200715_12484396 copy.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="{% static 'resources/img20200810_13393635 copy.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="{% static 'resources/img20200810_14252018.jpg' %}" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h2>Wayfare is...</h2>
  <div class="row">
    <div class="col-4">
      <div class="topic-content justify-content-center">
        <h3>San Francisco, California</h3>
        <p>San Francisco in the winter</p>
      </div>
    </div>
    <div class="col-4">
      <div class="topic-content justify-content-center">
        <h3>Sydney, Australia</h3>
        <p>Sydney in the winter</p>
      </div>
    </div>
    <div class="col-4">
      <div class="topic-content justify-content-center">
        <h3>London, UK</h3>
        <p>London in the winter</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block modal %}
<div class="modal fade" id="signupModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Sign Up</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'signup' %}" method="POST" class="signup-form">
          {% csrf_token %}
          {{user_form.as_p}}
          {{profile_form.as_p}}
          <input type="submit" value="Sign Up">
          <input type="hidden" name="next" value"{{next}}>
      
      </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
