body {
    background-color: #ECF1F0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
    padding-top: 0;
    text-align: right;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.helptext {
    display: none;
}
