body {
    background-color: #ECF1F0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    box-sizing: 60%;
}

main {
    flex: 1 0 auto;
}

footer {
    padding-top: 0;
    text-align: right;
}

/* ================================NAVBAR====================== */

.navbar{
    background-color: #135952;
    
}

/* =======================SIGN UP FORM========================= */
.signup-form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.signup-form ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: center;
    padding: 0% 5% 0% 5%;
    margin-block-end: 0px;
}

.signup-form ul li:before{
    content: '- ';
}

.helptext {
    display: none;
}

.error {
    color: crimson;
}

.errorlist {
    color: crimson;
}

#signup {
    background:white;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid #FC9346;
    border-radius:2em;
    box-sizing: border-box;
    font-weight: 500;
    color:#FC9346;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    }
#signup:hover{
    border-color: rgba(255,255,255,1);
    }

/*login button*/
#login {
    background:white;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid #FC9346;
    border-radius:2em;
    box-sizing: border-box;
    font-weight: 500;
    color:#FC9346; 
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    }
#login:hover{
    border-color: rgba(255,255,255,1);
    }




    
/* =======================PROFILE PAGE==================================== */


#idcard-context{
    font-size: 20px;
    margin: 0;
}

.card-subtitle{
    font-size: 25px;
    font-weight:bold;
    margin-left: 2%;
    margin-bottom: 0px;
}

.row{
    display: flex;
    padding: 3%;
    flex-direction: row;
    justify-content: flex-start;
}

.col-xs-12.col-lg-8{
    border: 1px solid grey;
    padding: 1%;
    background: rgb(39,139,129);
    background: linear-gradient(90deg, rgba(39,139,129,1) 0%, rgba(122,219,210,1) 100%, rgba(0,212,255,1) 100%);
}

.main-tab-title{

    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.main-tab-title>*{
    
    margin: 0px 33px 0 21px;
}

#edit-btn{
    margin: 12px 0 0 0;
}

#profile-picture{
    border: 2px solid black;
    border-radius: 4px;
    width: 100%;
}

#profile-picture-container{
    display: flex;
    align-items: center;
    padding: 5%;
}

/* =======================CITIES PAGE==================================== */
/* .card{
    background: rgb(242,184,114);
    background: linear-gradient(180deg, rgba(242,184,114,1) 3%, rgba(252,148,54,1) 100%, rgba(0,212,255,1) 100%);
} */

.card-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3%;
}
#citiesh1{
    margin-left: 3%;
}
.city-content{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    text-transform: uppercase;
}

.city-content-text{
    padding:2%;
}

.img-thumbnail{

    width: 250px;
    height: 250px;
}

/* ========================POSTS================================ */

#cPosts{
    font-size: 25px;
    margin-left:2%;
    text-transform: capitalize;
}

.card-post{
    background: #E0EEEC;
    
}

.post-content-text{
    width: 73%;
    display: flex;
    flex-direction: column;
    padding: 0% 0% 0% 3%;
}

.post-content-title{
    font-size: 24px;
    display: flex;
    flex-flow: column;
    margin: 16px 0;
}

.post-content-text>p:last-child{
    color:#49464E;
    font-size: 14px;
    margin: 62px 0 0 0;
    align-self: flex-end;

}

.card-post-content{
    display: flex;
    flex-direction: row;
    padding: 3%;
    margin-bottom: 2%;
    background: rgb(39,139,129);
    background: linear-gradient(90deg, rgba(39,139,129,1) 0%, rgba(122,219,210,1) 100%, rgba(0,212,255,1) 100%);
    border: 1px solid white;
}


#by{
    font-size: 13px;
}

/* ========================ALL POP UPS ================================ */


.modal-body p{
    display: flex;
    flex-flow: column;
}



/* ==================================PROFILE TOGGLES======================================== */
#cities {
    -webkit-transition: width 2s ease;
    -moz-transition: width 2s ease;
    -o-transition: width 2s ease;
    transition: width 2s ease;
    
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    background: #F0F2F2;
    vertical-align: middle;
    line-height: 30px;
    height: 30px;

    width: 0px;
}
#cities.in {
    width: 220px;
}

/* ======================HOME PAGE======================== */

#wayfarer{
    font-size: 40px;
    font-style: italic;
    color: #135952;
}

/* IMG CAROUSEL */
.carousel-img {
    height: 70vh;
    width: 100vh
}

.fa-arrow-alt-circle-right, .fa-arrow-alt-circle-left {
    color: #3B565E;
    font-size: 3.5em;
}

#carousel {
    background-color: #F0F2F2;
}

#home-footer-title {
    display: flex;
    justify-content: center;
}

.topic-content {
    display: flex;
    flex-direction: column;
}

.topic-content h3 {
    display: flex;
    justify-content: center;
}

#bttmRow{
    background:#F2AA6B;
}



 /* ======================Post Show Page======================== */

#heading{
    color:#135952;
    text-shadow: 3px black;
    margin-left: 10%;
    margin-top:5%;
}

.card{
    background: rgb(242,184,114);
    background: linear-gradient(270deg, rgba(242,184,114,1) 3%, rgba(242,158,82,1) 100%, rgba(0,212,255,1) 100%);
}

.card-show{
    border: 2px solid grey;
    background-color: #ECF1F0;
    box-shadow: #3B565E 2px;
    margin-bottom: 2%;
}

#post-img{
    border: 1px solid black;
    border-radius: 4px;
    width: 250px;
}

.btn.btn-warning{
    background: rgb(242,184,114);
    background: linear-gradient(270deg, rgba(242,184,114,1) 3%, rgba(242,158,82,1) 100%, rgba(0,212,255,1) 100%);
}



.card-show-content{
    display: flex;
    flex-direction: row;
    padding: 3%;
    border: 1px solid black;
    background-color: #ECF1F0;
}

.post-content-show-text{
    display: flex;
    flex-direction: column;
    padding: 0% 3% 0% 3%;
}

#edit {
    background:white;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid #FC9346;
    border-radius:2em;
    box-sizing: border-box;
    font-weight: 500;
    color:#FC9346;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    }
#edit:hover{
    border-color: rgba(255,255,255,1);
    }

#delete {
    background:white;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid #FC9346;
    border-radius:2em;
    box-sizing: border-box;
    font-weight: 500;
    color:#FC9346;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    }
#delete:hover{
    border-color: rgba(255,255,255,1);
    }

/* =======================Edit Modal======================== */

.modal-content{
    background:#ECF1F0;
}

#save{
    background:white;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid #FC9346;
    border-radius:2em;
    box-sizing: border-box;
    font-weight: 500;
    color:#FC9346;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    }
#save:hover{
    border-color: rgba(255,255,255,1);
    }





/* =======================Responsive Design======================== */


@media (max-width:992px) { 
    .btn.btn-warning{
        margin: 0px;
    }
    #profile-picture{
        width: 100%;
    }
    #profile-picture-container{
        display: flex;
        align-items: center;
        padding:5% 30% 5% 30%;
    }
    .row.container-fluid{
        margin: 0;
    }
    #idcard-context{
        font-size: 1em;
    }
    #post-img{
        display: none;
    }
    .col-xs-12.col-lg-4{
        padding:0px 12px 12px 12px;
    }

/* =======================CITIES PAGE==================================== */

    .city-content-text{
        position: absolute;
        padding:2% 4%;
    }

    .img-thumbnail{

        width: 250px;
        height: 250px;
    }

    /* ========================POST on city================================ */

    .card-post.quick-fix-cities-responsive{

        margin: 0 0 0 -119px;
    }

    .post-content-text.quick-fix-cities-responsive{

        width: 100%;
    }
    
} 